#canvas {
    position: absolute;
    pointer-events:none;
    margin: 10px;
    z-index: 1;
}

#border {
    z-index: 2;
    position:absolute;
    width: 600px;
    height: 600px;
    top: -10px;
    left: -5px;
}

#result {
    margin-right: 50px;
    text-align: center;
    position: absolute;
    width:auto;
    height:auto;
    max-width: 120px;
    left:850px;
    top:300px;
    font-size: 0.13em;
    font-family: Baloo;
    color: #01a3a4;
    background: #feca57;
    border-radius: 5px;
}

#button {
    z-index: 1;
    position: absolute;
    width: 300px;
    height: 100px;
    top: 100px;
    left: 750px;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
        transform: scale(0.9);
        transition: transform 200ms ease-in-out;
        animation-fill-mode: backwards;
    }
}

#marker {
    z-index: 3;
    position: absolute;
    width: 60px;
    top: 35px;
    left: 450px;
    transform: rotate(40deg);
}

.shake {
    animation: headShake 200ms cubic-bezier(.4,.1,.6,.9) 4;
}
$shake-intensity: 2%;

@keyframes headShake {
    20% {
        transform: translateX($shake-intensity);
    }
    40% {
        transform: translateY($shake-intensity);
    }
    60% {
        transform: translateX($shake-intensity * -1);
    }
    80% {
        transform: translateY($shake-intensity * -1);
    }
}

.blur {
    animation: blur 4.3s;
}

@keyframes blur {
    0% {
        filter: blur(0px);
    }
    5% {
        filter: blur(1.5px)
    }
    80% {
        filter: blur(1.5px);
    }
    100% {
        filter: blur(0px);
    }
}

.popping {
    transform: scale(5) rotate(360deg);
    transition: transform 330ms ease-in-out;
    
}

#star {
    z-index: 0;
    position: absolute;
    height: 500px;
    left: 650px;
    top: 30px;
}

#stars {
    z-index: 0;
    position: absolute;
    height: 500px;
    left: 200px;
    top: 50px;
}